@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:600);




.bottom_block img, .socials a, .blog time, .bottom_block2 img {behavior:url(js/PIE.htc); position:relative;}

a.gal:hover img{
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}

.socials a{
	margin-left: 9px;
}